{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <style>
        .alignerItem {
            display: flex;
            justify-content: space-between;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center p-4">
                    {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_GESTION")) and panier != null %}
                        Liste des cadeaux souhaités par
                        <strong class="text-warning">{{ panier.person }}</strong>
                    {% else %}
                        List de mes cadeaux pour Noel
                    {% endif %}
                </h4>
                {% if panier and panier.cadeaux | length > 0%}
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">

                            <thead>
                            <th>Image</th>
                            <th>Designation</th>
                            <th>Age</th>
                            <th>Prix</th>
                            <th>Delete</th>
                            </thead>
                            <tbody>
                            {% set total = null %}
                            {% for cadeau in panier.cadeaux %}
                                <tr>
                                    <td>
                                        <img src="{{ asset("uploads/cadeaux/"~cadeau.image) }}" alt=""
                                             class="img-thumbnail img_panier">
                                    </td>
                                    <td>{{ cadeau.designation }}</td>
                                    <td>{{ pluriels(cadeau.age, 'an') }}</td>
                                    <td>{{ cadeau.prix | number_format(2,',','.')}} €</td>
                                    <td><a href="{{ path('panier_delete_from_list', {'id' : cadeau.id}) }}"><button class="btn btn-danger btn-xs" ><i class="fas fa-trash-alt"></i></button></a></td>
                                </tr>
                                {%  set total = cadeau.prix + total  %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <table id="mytable" class="table table-bordred table-striped">
                            <thead>
                                <th class="text-primary">Total</th>
                                <th class="text-dark text-right">{{ total | number_format(2,',','.') }} €</th>
                            </thead>
                        </table>
                    </div>
                    <div class="my-3 alignerItem">
                        <a href="
                                    {% if  is_granted("ROLE_ADMIN") %}

                                    {% else %}
                                        {{ path('cadeau_index') }}
                                    {% endif %}" class="btn btn-info text-left">Retour</a>
                        {% if is_granted("ROLE_ADMIN") %}
                            {% if panier.isValidated %}
                                <button class="btn btn-dark text-right">Commande déja validée</button>
                            {% else %}
                                <a href="{{ path('valider_commande', {"id" : panier.id}) }}" class="btn btn-success text-right">Valider la commande</a>
                            {% endif %}
                        {% endif %}
                    </div>

                    {% else %}
                    <div class="text-center my-5">
                        <h3 class="text-warning">Pas de Liste de cadeaux</h3>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}
