{% extends 'base.html.twig' %}

{% block title %}Cadeau index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2">
            <h2 class="my-2">Filtrer</h2>
            <div class="mx-2">{{ form(form) }}</div>
            <h6><a href="{{ path('categorie_index') }}" class="text-dark text-decoration-none ml-2">
                    <i class="fas fa-list"></i> categories</a>
            </h6>
                <div class="border mx-2">
                    {% for categorie in categories  %}
                        <div class="mx-2 my-3 border-bottom">
                            <p>
                                <a class="text-decoration-none text-primary cat-link" href="{{ path('categorie_show', {'id': categorie.id}) }}">{{ categorie.name }}</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>

        </div>
        <div class="col-md-10 ">
            <h4 class="text-center p-2">Liste des cadeaux</h4>
            <div class="row">
                {% for cadeau in cadeaus %}
                    {% set ajoute = false %}
                    <div class=" col-md-3 mx-2 my-2">
                        <div class="decoration__data" >
                            <img src=" {% if cadeau.image %}
                                            {{ asset("uploads/cadeaux/"~cadeau.image) }}
                                       {% else %}
                                            {{ asset("assets/img/decoration1.png") }}
                                       {% endif %}
                            " alt="" class="decoration__img img_hover">
                            <h3 class="decoration__title">{{ cadeau.designation }}</h3>
                            <p class="text-success font-weight-bold">{{ cadeau.prix | number_format(2,',','.') }} €</p>
                            <a href="{{ path('cadeau_show', {'id': cadeau.id}) }}" class="button button-link mx-2">Details</a>
                            {% if app.user and not is_granted("ROLE_ADMIN") %}
                                {% for item in panier %}
                                    {% if item.cadeau.id == cadeau.id and item.person.id == app.user.id %}
                                        {% set ajoute = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if ajoute %}
                                    <a class=" button button-link text-dark">déjà ajouté</a>
                                {% else %}
                                    <a href="{{ path('new_panier', {'cadeauId' : cadeau.id}) }}" class=" button button-link text-success">Ajouter</a>
                                {% endif %}
                            {% endif %}


                        </div>
                    </div>
                {% else %}
                    <h5 class="text-center bg-warning">
                        Pas de cadeaux encores créer
                    </h5>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if app.user and is_granted("ROLE_ADMIN") %}
        <a href="{{ path('cadeau_new') }}" class="btn btn-info mx-3 my-3">Creer un cadeau</a>
    {% endif %}


{% endblock %}
