{% extends 'base.html.twig' %}

{% block title %}Cadeau index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2">
            <h2 class="my-2">Filtrer</h2>
            <div class="mx-2">{{ form(form) }}</div>
            <h6><a href="{{ path('categorie_index') }}" class="text-dark text-decoration-none ml-2">
                    <i class="fas fa-list"></i> categories</a>
            </h6>
        </div>
        <div class="col-md-10 ">
            <h4 class="text-center p-2">Liste des cadeaux</h4>
            <div class="row">
                {% for cadeau in cadeaus %}
                    <div class=" col-md-3 mx-2 my-2">
                        <div class="decoration__data" >
                            <img src=" {% if cadeau.image %}
                                            {{ asset("uploads/cadeaux/"~cadeau.image) }}
                                       {% else %}
                                            {{ asset("assets/img/decoration1.png") }}
                                       {% endif %}
                            " alt="" class="decoration__img">
                            <h3 class="decoration__title">{{ cadeau.designation }}</h3>
                            <a href="{{ path('cadeau_show', {'id': cadeau.id}) }}" class="button button-link mx-2">Details</a>
                            {% if app.user %}
                            <a href="{{ path('panier') }}" class=" button button-link text-success">Ajouter</a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <h5 class="text-center bg-warning">
                        Pas de cadeaux encore créer
                    </h5>
                {% endfor %}
            </div>
        </div>
    </div>

    <a href="{{ path('cadeau_new') }}" class="btn btn-info mx-3 my-3">Create new</a>


{% endblock %}
