{% extends 'base.html.twig' %}

{% block title %}Cadeau{% endblock %}

{% block body %}
    <h1 class="container text-center p-2">{{ cadeau.designation }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cadeau.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ cadeau.designation }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ cadeau.categorie.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ pluriels(cadeau.age, 'an') }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ cadeau.prix | number_format(2,',','.')}} €</td>
            </tr>
            {% if cadeau.user %}
            <tr>
                <th>Créer par l'utilisateur : </th>
                <td>{{ cadeau.user.firstName }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('cadeau_index') }}" class="btn btn-info mx-3">back to list</a>
    {% set ajoute = false %}
    {% if app.user and not is_granted("ROLE_ADMIN") %}
        {% for item in panier %}
            {% if item.cadeau.id == cadeau.id and item.person.id == app.user.id %}
                {% set ajoute = true %}
            {% endif %}
        {% endfor %}
        {% if ajoute %}
            <a class="btn btn-dark text-right mx-5"> déjà ajouté</a>
        {% else %}
            <a href="{{ path('new_panier', {"cadeauId" : cadeau.id})}}" class="btn btn-success text-right mx-5">Ajouter au Panier</a>        {% endif %}
    {% endif %}



    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('cadeau_edit', {'id': cadeau.id}) }}" class="btn btn-info my-2">edit</a>
        {{ include('cadeau/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
