{% extends 'base.html.twig' %}

{% block title %}Cadeau{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/cadeau-card.css') }}">
{% endblock  %}

{% block body %}
    <h1 class="container text-center p-2">{{ cadeau.designation }}</h1>

    <div class="w-50 mx-auto" id="ads">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">{{ cadeau.categorie.name }}</span>
                <span class="card-notify-year">{{ cadeau.id }}</span>
                <img src="
                        {% if cadeau.image %}
                                            {{ asset("uploads/cadeaux/"~cadeau.image) }}
                                       {% else %}
                                            {{ asset("assets/img/decoration1.png") }}
                                       {% endif %}
                " class="{% if app.user.age < cadeau.age  and not is_granted("ROLE_ADMIN") %} image-flou {% endif %}"/>
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">{{ cadeau.designation }}</span>
                <span class="card-detail-badge">{{ cadeau.prix | number_format(2,',','.')}} €</span>
                {% if cadeau.user %}
                <span class="card-detail-badge">{{ cadeau.user.firstName }}</span>
                {% endif %}
                <span class="card-detail-badge">> {{ pluriels(cadeau.age, 'an') }}</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">

                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('cadeau_index') }}" class="btn btn-info mx-3">back to list</a>
    {% set ajoute = false %}
    {% if app.user and app.user.age > cadeau.age and not is_granted("ROLE_ADMIN") %}
        {% for item in panier %}
            {% if item.cadeau.id == cadeau.id and item.person.id == app.user.id %}
                {% set ajoute = true %}
            {% endif %}
        {% endfor %}
        {% if ajoute %}
            <a class="btn btn-dark text-right mx-5"> déjà ajouté</a>
        {% else %}
            <a href="{{ path('new_panier', {"cadeauId" : cadeau.id})}}" class="btn btn-success text-right mx-5">Ajouter au Panier</a>        {% endif %}
    {% endif %}



    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('cadeau_edit', {'id': cadeau.id}) }}" class="btn btn-info my-2">edit</a>
        {{ include('cadeau/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
