{% extends 'base.html.twig' %}

{% block title 'profile de '~app.user.firstName %}

{% block stylesheets %} {%  endblock  %}

{% block body %}

    <div class="container my-2">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{% if app.user.sexe == "femme" %}
                                                https://image.freepik.com/free-vector/smiling-girl-avatar_102172-32.jpg
                                        {% else %}
                                                https://cdn.iconscout.com/icon/free/png-512/boy-avatar-4-1129037.png
                                        {% endif %}"
                                     alt="" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{ app.user }}</h4>
                                    <a class="btn btn-outline-primary my-2" href="{{ path('update', {'id': app.user.id}) }}">
                                        Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ app.user }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">genre</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{app.user.sexe}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Age</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ pluriels(age, 'an') }}
                                </div>
                            </div>
                            <hr>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {% if app.user.adresses %}
                                        {{ app.user.adresses }}
                                    {% else %}
                                        Pas d'adresse pour cet utilisateur
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
