<header>
	<nav class="navbar navbar-expand-lg navbar-dark
	bg-{% if is_granted("ROLE_ADMIN") %}dark
	{% elseif is_granted("ROLE_GESTION") %}success
	{% elseif is_granted("ROLE_SECRETARIAT") %}purple
	{% else %}danger{% endif %}">
		<div class="collapse navbar-collapse" id="collapsibleNavId">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a href="{{ path('home') }}">
						<img src="{{asset('assets/images/santa-claus.svg')}}" width="50" class="mx-2" />
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{path('home')}}">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{path('cadeau_index')}}">Catalogue</a>
				</li>
				{% if not (is_granted("ROLE_ADMIN") or is_granted("ROLE_SECRETARIAT") or is_granted("ROLE_GESTION")) and is_granted("ROLE_USER") %}
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('panier_userConnecte') }}">
							{{ render(controller('App\\Controller\\PanierController::panier')) }}
						</a>
					</li>
					{% endif %}
				{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_GESTION") or is_granted("ROLE_SECRETARIAT") %}
				<li class="nav-item active">
					<a class="nav-link" href="{{path('admin_pereNoel')}}">Dashboard</a>
				</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav  mt-2 mt-lg-0 text-right">
				{% if app.user %}
					<div class="card_user">
						<a href="{{ path('profile', {"id": app.user.id}) }}">
						<img src=" {% if is_granted("ROLE_ADMIN") %}
								{{ asset('assets/img/admin.png') }}
								{% elseif app.user.profilPicture %}
								{{ asset('uploads/users/'~app.user.profilPicture) }}
								{% else %}
								https://picsum.photos/200
								{% endif %}
					" alt="{{ app.user.firstName }}"></a>
					</div>
					<div class="dropdown">
						<li class="bg-{% if is_granted("ROLE_ADMIN") %}dark
								{% elseif is_granted("ROLE_GESTION") %}success
								{% elseif is_granted("ROLE_SECRETARIAT") %}purple
								{% else %}danger{% endif %}
								list-pointor btn-outline-dark dropdown-toggle mx-3 text-white" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{ app.user.firstName}}
						</li>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a>
							{% if app.user.adresses %}
									<a class="dropdown-item" href="{{ path('adresse_show', {"id" : app.user.adresses.id}) }}">Mon Adresse</a>
							{% endif %}
						</div>
					</div>

				{% else %}
					<div class="dropdown">
						<li class="bg-danger btn-outline-dark mx-3 list-pointor dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Connecter
						</li>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{{path('app_login')}}">Connexion</a>
							<a class="dropdown-item" href="{{path('register')}}">Inscription</a>
						</div>
					</div>
				{% endif %}
			</ul>
			{% if app.user %}

			{% endif %}
		</div>
	</nav>
</header>
