
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
		<div class="collapse navbar-collapse" id="collapsibleNavId">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="{{path('home')}}">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				{% if app.user %}
					<li class="nav-item active">
						<a class="nav-link " href="{{ path('app_logout') }}">Deconnexion</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link " href="{{ path('panier') }}">Ma liste</a>
					</li>
					{% if app.user.adresses %}
						<li class="nav-item active">
							<a class="nav-link " href="{{ path('adresse_show', {"id" : app.user.adresses.id}) }}">Mon Adresse</a>
						</li>
					{% endif %}
				{% else %}
					<li class="nav-item ml-2 active">
						<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{path('register')}}">Inscription</a>
					</li>
				{% endif %}
				<li class="nav-item active">
					<a class="nav-link" href="{{path('cadeau_index')}}">Catalogue</a>
				</li>
			</ul>
			{% if app.user %}
				<div class="card_user">
					<img src=" {% if app.user.profilPicture %}
								{{ asset('uploads/users/'~app.user.profilPicture) }}
								{% else %}
								https://picsum.photos/200
								{% endif %}
					" alt="{{ app.user.firstName }}">
					<h6><a href="{{ path('update', {"id": app.user.id}) }}">{{ app.user.firstName }}</a></h6>
				</div>
			{% endif %}
			<a href="{{ path('home') }}">
				<img src="{{asset('assets/images/santa-claus.svg')}}" width="50" class="mx-2" />
			</a>
		</div>
	</nav>
</header>
