{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="container text-center p-4">
            <h3>Les commandes de tous les utilisateures : </h3>
        </div>
        <table class="table">
            <thead class="bg-warning">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cadeaux-name</th>
                <th scope="col">Nombre de fois commandé</th>
                <th scope="col">Cadeaux prix</th>
                <th scope="col">Show</th>
            </tr>
            </thead>
            <tbody class="">
            {% set total = null %}
                {% set newPanier = [] %}
                {% for item in panier %}
                    {% if item.cadeau not in newPanier %}
                        <tr>
                            <th scope="row">{{ number }}</th>
                            <td scope="row">{{ item.cadeau.designation }}</td>
                            <td scope="row">
                                {% set cont = null %}
                                {% for cadeau in cadeaux %}
                                    {% if item.cadeau.id == cadeau.id %}
                                        {% set cont = cont + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {{ cont }}
                            </td>
                            <td scope="row">{{ item.cadeau.prix }} </td>
                            <td><a href="{{ path('pereNoel_cadeaux_cadeau', {"id" : item.cadeau.id}) }}"><button class="btn btn-info btn-xs" ><i class="fas fa-eye"></i></button></a></td>
                        </tr>
                        {% set  newPanier = newPanier|merge([item.cadeau])%}
                    {% endif %}
                    {% set number = number + 1 %}
                    {% set total = total + item.cadeau.prix %}
                {% endfor %}
            </tbody>
        </table>
        <table class="table">
            <tbody>
            <tr>
                <td><strong>Total</strong></td>
                <td class="text-right">{{ total | number_format(2,',','.') }} €</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
