{% extends 'base.html.twig' %}

{% block title %}List des categories{% endblock %}

{% block body %}

<div class="d-flex bd-highlight mb-3">
    {% include 'admin/sidebar.html.twig' %}

    <div class="example-wrapper">

        <div class="container text-center p-4">
            <h3>Les categories  des cadeaux  : </h3>
        </div>

        <div>
            {{ form(form) }}
        </div>

        <table class="table">
            <thead class="bg-warning">
            <tr>
                <th scope="col">#</th>
                <th scope="col">N° cadeaux</th>
                <th scope="col">Age min</th>
                <th scope="col">Nom categorie</th>
            </tr>
            </thead>
            <tbody class="">
            {% for cadeau in cadeaux %}
                <tr>
                    <td>{{ cadeau.id }}</td>
                    <td>{{ cadeau.designation }}</td>
                    <td>{{ cadeau.age }}</td>
                    <td>{{ cadeau.categorie }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
