{% extends 'base.html.twig' %}


{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="d-flex bd-highlight mb-3">
    {% include 'admin/sidebar.html.twig' %}
        <div class="table mb-3 p-2 bd-highlight">
            <h2>Liste des utilisateurs</h2>
            <table class="mx-5 my-5 container">
                <thead class="bg-warning">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th>age</th>
                    <th>genre</th>
                    <th>Adresse</th>
                    <th scope="col">Voir</th>
                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SECRETARIAT") %}
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody class="">
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ number }}</th>
                        {% if user.roles == "ROLE_ADMIN" %}
                            <td>{{ user }} ADMIN</td>
                        {% else %}
                            <td>{{ user }}</td>
                        {% endif %}

                        <td>{{ user.age }}</td>
                        <td>{{ user.sexe }}</td>
                        <td>
                            {% if user.adresses %}
                                {{ user.adresses }}
                            {% else %}
                                pas d'adresse
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_pereNoel_list', {'id': user.id})}}">
                                <button class="btn btn-info btn-xs"><i class="fas fa-eye"></i>
                                </button>
                            </a>
                        </td>
                        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SECRETARIAT") %}
                            <td>
                                <a href="{{ path('user_delete', {'id': user.id})}}">
                                    {{ include('registration/__delete__form.html.twig') }}
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                    {% set number = number + 1 %}
                {% endfor %}
                </tbody>
            </table>
            <div class="mx-5 my-5 container">
                    {{ knp_pagination_render(users) }}
                <div class="text-center my-2">
                    <strong class="text-primary">{{ users.getTotalItemCount }}</strong> Personnes
                </div>
            </div>
        </div>

    </div>


{% endblock %}
