{% extends 'base.html.twig' %}


{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="d-flex bd-highlight mb-3">
    {% include 'admin/sidebar.html.twig' %}

        <table class="table mb-3 p-2 bd-highlight">
            <thead class="bg-warning">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th>age</th>
                <th>genre</th>
                <th>Adresse</th>
                <th scope="col">Nombre de cadeaux</th>
                <th scope="col">Show</th>
            </tr>
            </thead>
            <tbody class="">
            {% for user in users %}
                    <tr>
                        <th scope="row">{{ number }}</th>
                        <td>{{ user }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.sexe }}</td>
                        <td>
                            {% if user.adresses %}
                                {{ user.adresses }}
                                {% else %}
                                pas d'adresse
                            {% endif %}
                        </td>
                        <td class="text-center">{{ user.paniers | length }}</td>
                        <td>
                            <p><a href="{{ path('admin_pereNoel_list', {'id': user.id})}}"><button class="btn btn-info btn-xs" ><i class="fas fa-eye"></i></button></a></p>
                        </td>
                    </tr>
                {% set number = number + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
