{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
    <style>
        .lolo {
            display: flex;
        }
    </style>

    <h1 class=" container text-center p-4">Mes Adresses</h1>
    <div class="row">
        <div class="text-center col-md-12 my-3 mx-3 lolo">
            <h4 > {{ villes | length }} Villes</h4>
            {% set newVilles = [] %}
            {% for user in users %}
                {% if user.adresses and user.adresses.ville not in newVilles %}
                    <div class="mx-5">
                        <input type="checkbox"> {{ user.adresses.ville }}
                    </div>
                    {% set  newVilles = newVilles|merge([user.adresses.ville])%}
                {% endif %}
            {% endfor %}

            <a href="" class="btn btn-success ">Filtrer</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Rue</th>
            <th>Numero</th>
            <th>CodePostal</th>
            <th>Ville</th>
            <th>Show</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% set newAdresses = [] %}
            {% if user.adresses and user.adresses not in newAdresses %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.adresses.rue }}</td>
                    <td>{{ user.adresses.numero }}</td>
                    <td>{{ user.adresses.codePostal }}</td>
                    <td>{{ user.adresses.ville }}</td>
                    <td>
                        <a href="{{ path('adresse_show', {'id': user.adresses.id}) }}"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
                {% set  newAdresses = newAdresses|merge([user.adresses])%}
            {% endif %}
        {% endfor %}

        </tbody>
    </table>

    {% if app.user and not is_granted("ROLE_ADMIN") %}
        <a href="{{ path('adresse_new') }}" class="btn btn-info mx-2 my-2">Create new</a>
    {% endif %}
{% endblock %}
