{% extends 'base.html.twig' %}

{% block title %}list des cadeaux : {% endblock %}

{% block body %}
    <style>
        .dashboard {
            display: flex;
            justify-content: space-between;
        }
        .dashboard .dashboard-center {
            margin-right: 20px;
        }
    </style>
    <div class="dashboard">
        <div>
            <div class="card my-5" style="width: 18rem;">
                <div class="card-header">
                    Name : {{ user.firstName }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Age : {{ pluriels(user.age, 'an') }}</li>
                    <li class="list-group-item">Genre : {{ user.sexe }}</li>
                </ul>
            </div>

        <div class="dashboard-center">
            <div class="card my-5" style="width: 50rem;">
                <div class="card-header">
                    Actions
                </div>
                {{ dump(user.adresses) }}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{{ path('panier_admin', {'id': user.id}) }}">Gerer la liste des cadeaux</a></li>
                    {% if user.adresses %}
                        <li class="list-group-item"><a href="{{ path('adresse_show', {'id' : user.adresses.id}) }}">Gerer les adresses</a></li>
                    {% else %}
                        <li class="list-group-item">Pas d'adresse</li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>


{% endblock %}
