{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
    <h1 class=" container text-center p-4">Mon Adresse</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rue</th>
                <th>Numero</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {{ dump(app.user.adresses) }}
        {% if app.user.adresses %}
            <tr>
                <td>{{ app.user.adresses.id }}</td>
                <td>{{ app.user.adresses.rue }}</td>
                <td>{{ app.user.adresses.numero }}</td>
                <td>{{ app.user.adresses.codePostal }}</td>
                <td>{{ app.user.adresses.ville }}</td>
                <td>
                    <a href="{{ path('adresse_show', {'id': app.user.adresses.id}) }}">show</a>
                    <a href="{{ path('adresse_edit', {'id': app.user.adresses.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('adresse_new') }}" class="btn btn-info mx-2 my-2">Create new</a>
{% endblock %}
