{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1 class="text-center p-5">{{pluriels(categories | length, "categorie")}} </h1>
            <div class="row mx-5 p-3">
        {% for categorie in categories %}
                    <div class="accessory__content  col-md-3 mx-3 mb-4">
                        <img src=" {% if categorie.image %}
                                        {{ asset("uploads/categories/"~categorie.image) }}
                                    {% else %}
                                        {{ asset("assets/img/accessory1.png") }}
                                    {% endif %}"
                             alt="" class="accessory__img">
                        <h3 class="text-center">
                            <a href="{{ path('categorie_show', {'id' : categorie.id}) }}" class="text-dark text-decoration-none">
                                {{ categorie.name }}
                            </a>
                        </h3>
                    </div>

        {% else %}
            <div class="mx-5 ">
                <h6>Pas de Categories</h6>
            </div>
        {% endfor %}
            </div>


    {% if app.user and is_granted("ROLE_ADMIN") %}
            <a href="{{ path('categorie_new') }}" class="btn btn-info mx-3 my-3">Create new</a>
    {% endif %}
{% endblock %}
