{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h2 class="container text-center p-3">Categorie des : {{ categorie.name }}</h2>
    {% if is_granted("ROLE_ADMIN") %}
    <div class="example-wrapper">
        {{ form(form) }}
    </div>
    {% endif %}

    {% if categorie.cadeaus | length > 0 %}
        <div class="row">
            {% set total = null %}
            {% for cadeau in categorie.cadeaus %}
                <div class="col-md-3 container my-5">
                    <div class="decoration__data">
                        <img src="{% if cadeau.image %}
                                                {{ asset("uploads/cadeaux/"~cadeau.image) }}
                                           {% else %}
                                                {{ asset("assets/img/decoration1.png") }}
                                           {% endif %}" alt="" class="decoration__img">
                        <h3 class="decoration__title">{{ cadeau.designation }}</h3>
                        <p><span><strong>{{ cadeau.prix | number_format(2,',','.') }}</strong> €</span></p>
                        <a href="{{ path('cadeau_show', {'id': cadeau.id}) }}" class="button button-link">details</a>
                    </div>
                </div>
                {%  set total = cadeau.prix + total  %}
            {% endfor %}
        </div>

    <div class="text-left p-2 border w-50">
        <h6 class="text-dark">
            Le total des prix des cadeaux de <strong>{{categorie.name }}</strong>  est de : <strong class="text-success">{{ total | number_format(2,'.',',') }} €</strong>
        </h6>
        <h6 class="text-dark">
            La moyenne des prix des cadeaux de <strong>{{categorie.name }}</strong> est de  : <strong class="text-success">{{ (total / (categorie.cadeaus | length)) | number_format(2,'.',',') }} €</strong>
        </h6>
    </div>
    {% else %}
        <div>
            <h1>Pas De cadeaux dans cette categories pour l'instant </h1>
        </div>
    {% endif %}

    <a href="{{ path('categorie_index') }}" class="btn btn-info mx-3 my-2">back to list</a>
    {% if app.user and is_granted("ROLE_ADMIN") %}
        <a href="{{ path('categorie_edit', {'id': categorie.id}) }}" class="btn btn-info">edit</a>
        {{ include('categorie/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
