{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h2 class="container text-center p-3">Categorie des : {{ categorie.name~"s" }}</h2>
    <div class="row">
        {% set total = null %}
        {% for cadeau in categorie.cadeaus %}
            <div class=" col-md-3 mx-2 my-2">
                <div class="decoration__data">
                    <img src="{{ asset("assets/img/decoration1.png") }}" alt="" class="decoration__img">
                    <h3 class="decoration__title">{{ cadeau.designation }}</h3>
                    <p><span><strong>{{ cadeau.prix }}</strong> €</span></p>
                    <a href="{{ path('cadeau_show', {'id': cadeau.id}) }}" class="button button-link">details ...</a>
                </div>
            </div>
            {%  set total = cadeau.prix + total  %}
        {% endfor %}
    </div>

    <div class="container text-right p-2 border-info">
        <h4 class="text-info">
            Le total des prix des cadeaux de {{categorie.name }}  est de : {{ total }} €
        </h4>
        <h4 class="text-success">
            La moyenne des prix des cadeaux de {{categorie.name }} est de  : {{ total / (categorie.cadeaus | length) }} €
        </h4>
    </div>

    <a href="{{ path('categorie_index') }}" class="btn btn-info mx-3 my-2">back to list</a>

    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}" class="btn btn-info">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
